.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #c3002f, #dd0031);
  color: #fff;
  margin-bottom: 1rem;
}
h2 {
  margin: 30px 0px;
}
.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
  padding-left: 1rem;
  padding: 1rem;
}

.search-panel__results {
  flex: 3;
  padding: 1rem;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  width: max-content;
  margin: 2rem auto;
  text-align: center;
}

.left-panel {
  float: left;
  padding-left: 1rem;
  width: 250px;
}
.right-panel {
  margin-left: 260px;
}
.ais-InstantSearch {
  max-width: 960px;
  margin: 0 auto;
}
.ais-Hits-item {
  display: block;
}
.ais-Hits-item img {
  margin-right: 1em;
}
.hit-name {
  margin-bottom: 0.5em;
}
.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.header-right {
  float: right;
}

@media screen and (max-width: 700px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-subtitle {
    display: none;
  }
  .header-right {
    float: none;
  }
}
